/*--------------Etiquetas generales------------------*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
@font-face {
    font-family: 'Arcade';
    src: url('../fonts/ka1.ttf');
}
html{
	height: 100%;
	font-family: Arcade;
	font-size: 40px;
	color:#fff;
}
body{
	overflow:hidden;
	transition:background-color 2s linear;
	margin:0;
	border:0;
	background-image:radial-gradient(transparent, black);
	background-color: grey;
	height: 100%;
}
#container{
	max-width: 450px;
	margin:0 auto;
	background-color: #000;
	height:100%;
}
#juego{
	margin:0 auto;
  	position:relative;
	width:100%;
	height:455px;
}
.ganaste,.welcome{
	background-color: #000;
	text-align: center;
	color:#fff;
}
.welcome{
	font-size:1.2em;
	padding:5% 0;
}
.ganaste{
	width:100%;
	padding:20px;
	position:absolute;
	z-index: 100;
	font-size:1.5em;
	display: none;
	top:20%;
}
.welcome p{
	transition: 500ms;
}
.ganaste p{
	transition: 500ms;
	opacity: 0;
}
.pieza{
	border: 1px solid #333;
  	transition:300ms;
	position:absolute;
	width:150px;
	height:150px;
	margin:1px;
	background-position:center center;
	background-size: cover;
}
/*------------------------Menu y botones------------------*/
nav{
	height:15%;
}
nav ul li{
	list-style: none;
	width:25%;
    height:100px;
    float:left;
    background-color: #000;
    cursor: pointer;
}
nav ul li:last-child{
	border-right:none;
}
.boton{
	width:100%;
	height:100%;
}
.boton div{
	width:60%;
	height:70%;
	background-size: 100% 100%;
	margin:20%;
	transition:200ms;
	background-repeat: no-repeat;
}
.boton div.restart{
	opacity: 0.2;
	transition:800ms;
	animation-fill-mode: forwards;
}
.restart{
	background-image: url("../images/restart.png");
}
.leaf{
	background-image: url("../images/leaf.png");
}
.fire{
	background-image: url("../images/fire.png");
}
.water{
	background-image: url("../images/water.png");
}

.boton:hover div{
	transform: scale(1.2);
}
.boton:hover .restart{
	transform: rotate(360deg);
}
body #container>ul{
	margin:none;
	list-style: none;
	padding:1.6%;
	background-color: #000;
	height: 21%;
	box-sizing:border-box;
}
body #container>ul li{
	float:left;
	margin:2% 1.6%;
	width:43.3%;
	box-sizing:border-box;
}
body #container>ul li:first-child p{
	text-align:	center;
	font-size: 0.4rem;
	display: inline-block;
	float:left;
}
body #container>ul li:last-child p{
	text-align:	center;
	font-size: 0.7rem;
}
.play{
	background-image: url("../images/play.png");
	height:60%;
	width:60%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto auto;
	cursor:pointer;
	transition: 200ms;
}
.play:hover{
	transform:scale(1.2);
}
/*--------------Animacion Reloj-----------------------------------*/
#reloj {
	float:left;
	position: relative;
	top:0;
	left:0;
	width: 40%;
	height: 80px;
	background: #000;
	border: 7px solid #fff;
	border-radius: 50%;
	display: inline-block;
}
#reloj .centro{
	border:6px solid #fff;
	position: absolute;
	left: 44%;
	top: 44%;
	border-radius: 50%;
}
#reloj .manecilla {
	margin-top:10%;
	background: #fff;
	position: absolute;
	left: 48%;
	animation: rotate 60s infinite linear;
	animation-play-state: paused;
	transform-origin: center bottom;
	height: 41%;
	width: 8%;	
	animation-duration: 1s;
	border-radius: 10px;
}
@keyframes rotate {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(360deg);}
}

